<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="login">
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>


                            <div class="form-row">
                                <label for="email">Email</label><br>
                                <input name="email-popup" placeholder="Email..." class="form-control" id="email" type="text">
                            </div>

                            <br>

                            <div class="form-row">
                                <label for="password">Password</label><br>
                                <input name="password" placeholder="Password..." class="form-password form-control"
                                    id="password-popup" type="password">
                            </div>

                            <br>
                            <div class="form-row">
                                <div class="col"></div>

                                <div class="col">
                                    <button type="submit" method="post" id="popupBtn" class="btn popUp">Login</button>
                                </div>
                                
                                <div class="col"></div>

                                <div class="col">
                                    <a href="/register"><button type="button"
                                            class="btn btn-signup popUp">Register</button></a>
                                </div>

                                <div class="col"></div>
                            </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>