
<header>
    <h1 id="title">Cocktail_Coterie</h1>
    <br>
    <pre>Have your best party.  Online.</pre>
</header>
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-center">

                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/create-party">Create New Party</a>
                    </li>

                    <!--<li class="nav-item active">
                        <a class="nav-link" href="/saved-cocktails">Saved Cocktails</a>
                    </li>-->

                     <li class="nav-item active">
                        <a class="nav-link" href="/search-cocktails">Search Cocktails</a>
                    </li>

                     <li class="nav-item active">
                        <a class="nav-link" href="/">Log-Out</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>