<br>
<div class="form-row">
    <label for="zoom">Zoom Link:</label>
    <input class="form-control" id="zoom" class="form-control" val={{zoom}}>
</div>
<!--
<br>
    <label>Preferred Liquors:</label>
<div class="form-row">
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rum">
            <label class="form-check-label" for="rum">
                Rum
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="tequila">
            <label class="form-check-label" for="tequila">
                Tequila
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="vodka">
            <label class="form-check-label" for="vodka">
                Vodka
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="whiskey">
            <label class="form-check-label" for="whiskey">
                Whiskey
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="bourbon">
            <label class="form-check-label" for="bourbon">
                Bourbon
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="brandy">
            <label class="form-check-label" for="brandy">
                Brandy
            </label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="gin">
            <label class="form-check-label" for="gin">
                Gin
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="scotch">
            <label class="form-check-label" for="scotch">
                Scotch
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="white">
            <label class="form-check-label" for="white">
                White-Wine
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="red">
            <label class="form-check-label" for="red">
                Red Wine
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="import">
            <label class="form-check-label" for="import">
                Import Beer
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="domestic">
            <label class="form-check-label" for="domestic">
                Domestic Beer
            </label>
        </div>
    </div>
</div>
<br>
-->