<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Petite.Soiree</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>