{{>navbar}}
<div class="container">
    <div class="row">
        
        <div class="col-lg-12">
            <h1 class="interior-box">Create New Party</h1>
        </div>
       <div class="col-lg-12">
        <form class="interior-box">

            <div class="form-group">
                <label for="peronal-message">Email</label>
                <input class="form-control" id="emailId"></input>
            </div>

            <div class="form-group">
                <label for="partyName">Party Name</label>
                <input class="form-control" id="partyName">
            </div>

            <div class="form-group">
                <label for="cocktailChoice">Choose your Cocktail</label>
                <select type="submit" class="form-control" id="cocktailChoice">
                    {{#each usersDrinks}}
                    <option data={{id}}>{{strDrink}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="Date">Date</label>
                <input class="form-control" id="date" placeholder="  /  /  ">
            </div>

            <div class="form-group">
                <label for="Date">Time</label>
                <input class="form-control" id="time" placeholder="  :  ">
            </div>

            <div class="form-group">
                <label for="peronal-message">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="zoom-link">Your Zoom Link</label>
                <input type="text" class="form-control" id="zoom-link" placeholder="zoom-link" value={{zoom}}>
            </div>
            <button id="invitation-complete" class="btn btn-primary" data-toggle="modal" data-target="#shareModal">Send
                Invitations</button>
         
            <!--look up customize share on share.com-->

        </form>
        </div>
    </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="myModalLabel" style="display:none">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Share</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="link-share">
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="link">Copy this link</label><br>
                                <a name="link-popup" href="#" class="form-control" id="link" type="text"></a>
                            </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>