{{>main-page}}

<div class="container" id="bio">
    <div class="row">
        <h1>About</h1>
        <p>
            We are all social butterflies feeling caged and suffering without the ability to visit with our friends and
            family during this pandemic.
            It was such a hassle to try to organize any online event and even harder to get out friends excited about it
            -this is when Cocktail_Coterie was born.
            The app takes all the info you need to make an invitation convient for your virtual party guest to come hang
            out!!
        <ul>
            <li>Cocktail Ingrediants: Check!</li>
            <li>Zoom Link: Check!</li>
            <li>Time and Date: Check!</li>
        </ul>
        And then you can conviently send out your personalized invitation
        to all your friends over email, fb messenger, or even text!
        </p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Developers</h3>
        </div>

        <div class="col dev-card">
            <div class="card">
                <img src="/images/Aurorathumbnail.jpg" class="card-img-top" alt="Aurora's profile pic">
                        <a class="developers btn" href="https://github.com/AuroraBrune" target="_blank">Aurora Brune</a>
                <div class="card-body">
                   <ul>
                       <li>Github Merge Management</li>
                       <li>HTML and API Routes</li>
                   </ul>
                </div>
            </div>    
        </div>

        <div class="col dev-card">
             <div class="card">
                <img src="/images/newprofile-thumb.jpg" class="card-img-top" alt="Julie's profile pic">
                        <a class="developers" href="https://github.com/JulieAnn2330" target="_blank">Julie Schaub</a>
                <div class="card-body">   
                   <ul>
                       <li>Database and Models</li>
                       <li>Scrum Manager</li>
                   </ul>
                </div>
            </div> 
        </div>

        <div class="col dev-card">
            <div class="card">
                <img src="/images/headshot.jpg" class="card-img-top" alt="Anthony's profile pic">
                        <a class="developers" href="https://github.com/AnthonyStembreit" target="_blank">Anthony Stembreit</a>
                <div class="card-body">
                   <ul>
                       <li>Handlebars</li>
                       <li>CSS styling</li>
                   </ul>
                </div>
            </div>  
        </div>

        <div class="col dev-card">
             <div class="card">
                <img src="/images/SocialMediaPhoto.png" class="card-img-top" alt="Charlene's profile pic">
                        <a class="developers" href="https://github.com/petersvirtualservices" target="_blank">Charlene Peters</a>
                <div class="card-body">
                   <ul>
                       <li>Authentication</li>
                       <li>Login and Register User Routes</li>
                   </ul>
                </div>
            </div>  
        </div>
    </div>

</div>




<!-- Modal -->
{{>login}}