{{>main-page}}
<!--FORM ACTION BELOW WILL NOT POST - /API/SIGNUP-->
<form action="/api/signup" id="registerForm" method="POST">
    <h1>Register Form</h1>
    <br>
    <div class="form-row">
        <div class="col">
            <label for="firstName">First Name:</label> <br>
            <input type="text" id="firstName" class="form-control" name="firstName"><br>
        </div>

        <div class="col">
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" class="form-control" name="lastName"><br>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="email">Email:</label><br>
            <input type="email" id="emailRegister" class="form-control" name="email"><br>
        </div>

        <div class="col">
            <label for="password">Password:</label><br>
            <input type="password" id="passwordRegister" class="form-control" name="password"><br>
        </div>
    </div>

    {{>personal-info}}

    <button id="signup" class="bttn  btn-lg" type="submit">Register User</button>
</form>
{{#if message}}
<h4 class="alert">{{message}}</h4>
{{/if}}
{{>login}}