{{>navbar}}
<!--find a way to make sure only that users saved cocktails are shown -->
{{#each usersDrinks}}

<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <h1 class="interior-box">{{strDrink}}</h1>
    </div>
    <div class="row">

      <div class="col">
        <img src={{strDrinkThumb}} alt="cocktail image">
      </div>

      <div class="col">
        <p class="interior-box" >{{strInstructions}}</p>
      </div>
    </div>
  </div>


</div>
{{/each}}
<!--<button id="read-more">read more</button>
{{ingredients}}
<div>
  <display none toggle this button on read more-->
<!--</div>
<button id="delete-cocktail">delete</button>-->