{{> navbar}}

<!--find a way to make sure only that users saved cocktails are shown -->
{{#each cocktail}}
    {{drinkName}}
    {{drinkImage}}
    <button>read more</button>
    {{#unless read}}
      {{ingrediants read=true}}
      {{directions read=true}}
    {{/unless}}
{{/each}}