{{>navbar}}
<!--find a way to make sure only that users saved cocktails are shown -->
{{#each usersDrinks}}

<div class="container">
  <div class="row">
      <img src={{strDrinkThumb}} alt="cocktail image">
  </div>

  <div class="row">
    <h1>{{strDrink}}</h1>
  </div>

  <div class="row">
    <p>
    {{strInstructions}}
    </p>
  </div>
</div>
{{/each}}
<!--<button id="read-more">read more</button>
{{ingredients}}
<div>
  <display none toggle this button on read more-->
<!--</div>
<button id="delete-cocktail">delete</button>-->