{{>navbar}}

<!--find a way to make sure only that users saved cocktails are shown -->
{{#each saved_cocktail}}
    {{drinkName}}
    {{drinkImage}}
    <button id="read-more">read more</button>
    <div>
      <!--display none toggle this button on read more-->
      {{ingrediants read=true}}
      {{directions read=true}}
    </div>
    
    <button id="delete-cocktail">delete</button>
{{/each}}