{{>navbar}}
<!--basically set up in test-file.html -->
<div class="container">

    <div class="row">
    <div class="col-lg-12">
        <h1 class="interior-box">Search for your new fav Cocktail!</h1>
    </div>
    
        <div class="col">
            <form class="interior-box" id="drink-form">
                <label for="drink-input">Search by Drink Name:</label><br>
                <input type="text" id="drink-input">

                <!-- Submit Button -->
                <input class="cocktailSearch" id="select-drink" type="submit" value="GO!">
            </form>
        </div>

        <div class="col">
            <form class="interior-box" id="ingredient-form">
                <label for="ingredient-input">Search by Ingredient:</label><br>
                <input  type="text" id="ingredient-input">

                <!-- Submit Button -->
                <input class="cocktailSearch" id="select-ingredient" type="submit" value="GO!">
            </form>
        </div>
    </div>
</div>
<!-- Drink Information -->
<div id="drink-div"></div>

<!-- Drink Information -->
<div id="ingredient-div"></div>