{{>navbar}}
<!--basically set up in test-file.html -->
<header>Search for your new fav Cocktail!</header>
<form id="drink-form">
    <label for="drink-input">Search by Drink Name</label>
    <input type="text" id="drink-input"><br>

    <!-- Submit Button -->
    <input id="select-drink" type="submit" value="GO!">
</form>

<!-- Ingredient Select Box -->
<form id="ingredient-form">
    <label for="ingredient-input">Search by Ingredient Included</label>
    <input type="text" id="ingredient-input"><br>

    <!-- Submit Button -->
    <input id="select-ingredient" type="submit" value="GO!">
</form>

<!-- Drink Information -->
<div id="drink-div"></div>

<!-- Drink Information -->
<div id="ingredient-div"></div>