<form>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input class="form-control" id="inputFirstName">
    </div>

    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input class="form-control" id="inputLastName">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="passwordConfirm">Password Confirm</label>
        <input type="password" class="form-control" id="passwordConfirm">
    </div>

    {{>personal-info}}

    <button type="submit" class="btn btn-primary">Submit</button>

    <p>or</p>
    <button ><a href="#log_in" data-toggle="modal" data-target="#myModal1">Login</a></button>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{>login}}
    </div>
</form>